<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <a href="/addcourses" class="w3-bar-item w3-button w3-padding-large">FLOAT COURSE</a><br>
    <a href="/myofferedcourses" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COURSES OFFERED BY
        ME</a><br>
    <a href="/gradeentry" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ENTER GRADES</a><br>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">LOG OUT</a><br><br>
</body>

</html>