<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body {
        font-family: "Lato", sans-serif
    }

    .mySlides {
        display: none
    }
</style>

<body>

    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="/student" class="w3-bar-item w3-button w3-padding-large">HOME</a><br>
            <a href="/courses" class="w3-bar-item w3-button w3-padding-large">COURSES</a><br>
            <a href="/prerequisites" class="w3-bar-item w3-button w3-padding-large">PREREQUISITES</a><br>
            <a href="/mycourses" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MY COURSES</a><br>
            <a href="/registrationportal" class="w3-bar-item w3-button w3-padding-large w3-hide-small">REGISTERATION
                PORTAL</a><br>
            <a href="/" class="w3-bar-item w3-button w3-padding-large">LOG OUT</a><br>
        </div>
    </div>
</body>

</html>